<!-- <button type="button" id="button" class="btn btn-primary">Footer</button>
 -->

<div class="footer text-center">
  <div class="footer-links">
      <div class="footer-copyright text-center">
        Happy Horse<i class="fas fa-utensils"></i> &About <i class="far fa-copyright"></i>2019
      </div>
  </div>
</div>



</div>
